<head>
	<base href="/">
</head>

<body ng-app="aiiApp">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Aii - Property Solutions
                </a>
            </div>
        </div>
    </nav>
    
	<div ui-view=""></div>
    
</body>
