<form>
	<label>Party Name: </label>
	<input type="text" ng-model="partiesList.newParty.name" />
	<label>Description: </label>
	<input type="text" ng-model="partiesList.newParty.description" />
	<button ng-click="partiesList.addParty()">Add Party!</button>
</form>

<ul>
	<li ui-sref="partyDetails({ partyId : party._id })" ng-repeat="party in partiesList.parties">
		{{party.name}}
		<p>{{party.description}}</p>
		<button ng-click="partiesList.removeParty(party)">X</button>
	</li>
</ul>