The party your selected is:
<form>
	Party name: <input type="text" ng-model="partyDetails.party.name" />
	Description: <input type="text" ng-model="partyDetails.party.description" />
	<button ng-click="partyDetails.save()">Save</button>
</form>
<button ui-sref="parties">Back</button>