<div class="container">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#basicInfo" aria-controls="basicInfo" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Información Básica
                </a>
            </li>
            <li role="presentation">
                <a href="#additionalInfo" aria-controls="profile" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Información Adicional
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <!--Basic Info-->
            <div role="tabpanel" class="tab-pane active" id="basicInfo">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group required">
                                <label class="col-md-4 control-label" for="client-identification">Identificación</label>
                                <div class="col-md-5">
                                    <input id="client-identification" name="client-identification" type="text" placeholder="Identificación" class="form-control input-md"
                                    required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group required">
                                <label class="col-md-4 control-label" for="client-name">Nombres</label>
                                <div class="col-md-5">
                                    <input id="client-name" name="client-name" type="text" placeholder="Nombres" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group required">
                                <label class="col-md-4 control-label" for="client-lastName">Apellidos</label>
                                <div class="col-md-5">
                                    <input id="client-lastName" name="client-lastName" type="text" placeholder="Apellidos" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="client-phone">Teléfono</label>
                                <div class="col-md-5">
                                    <input id="client-phone" name="client-phone" type="text" placeholder="Teléfono" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group required">
                                <label class="col-md-4 control-label" for="client-celPhone">Celular</label>
                                <div class="col-md-5">
                                    <input id="client-celPhone" name="client-celPhone" type="text" placeholder="Celular" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group required">
                                <label class="col-md-4 control-label" for="client-email">Correo Electrónico</label>
                                <div class="col-md-5">
                                    <input id="client-email" name="client-email" type="text" placeholder="Correo Electrónico" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="saveClient-button"></label>
                                <div class="col-md-8">
                                    <button id="saveClient-button" name="saveClient-button" class="btn btn-success">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar
                                    </button>
                                    <button id="nextInfo-button" name="nextInfo-button" class="btn btn-info">
                                        <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Next
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            
            <!--Basic Info-->
            <div role="tabpanel" class="tab-pane" id="additionalInfo">
            </div>
        </div>

    </div>
</div>