<div class="filter-container">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" data-toggle="collapse" data-target="#filtersArea" aria-expanded="false" aria-controls="filtersArea">
                    <span class="glyphicon glyphicon-filter"></span>
            </button>
            </span>
            <input type="text" class="form-control" placeholder="Filtro de Texto..." ng-model="clientsList.searchText">
            <span class="input-group-addon info">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="clientsList.searchText = '' ">
                    <span class="glyphicon glyphicon-remove"></span>
            </button>
            </span>
        </div>
    </div>
    <!--This Area is hidden until filter button is pressed-->
    <div class="collapse col-md-12" id="filtersArea">
        <div class="well">
            This the filter's Area
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="table-container">
        <table class="scroll table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        <button ui-sref="addClient" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </th>
                    <th class="column" ng-click="clientsList.changeSort('identification')">
                        Identificación
                        <span ng-show="clientsList.sort.identification == 1" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="clientsList.sort.identification == -1" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th class="column" ng-click="clientsList.changeSort('name')">
                        Nombres
                        <span ng-show="clientsList.sort.name == 1" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="clientsList.sort.name == -1" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th class="column" ng-click="clientsList.changeSort('lastName')">
                        Apellidos
                        <span ng-show="clientsList.sort.lastName == 1" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="clientsList.sort.lastName == -1" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th class="column" ng-click="clientsList.changeSort('phone')">
                        Celular
                        <span ng-show="clientsList.sort.phone == 1" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="clientsList.sort.phone == -1" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                    <th class="column" ng-click="clientsList.changeSort('email')">
                        Email
                        <span ng-show="clientsList.sort.email == 1" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="clientsList.sort.email == -1" class="glyphicon glyphicon-triangle-bottom"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="client in clientsList.clients | itemsPerPage: clientsList.perPage" total-items="clientsList.clientsCount">
                    <td>
                        <button class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>{{ client.identification }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-12">
    <dir-pagination-controls 
        class="pull-right"
        max-size="10"
        direction-links="true"
        boundary-links="true"
        on-page-change="clientsList.changePage(newPageNumber)">
    </dir-pagination-controls>
</div>